:host {
    display: flex;
    flex-flow: column nowrap;
  }
  
  fieldset {
    align-self: center;
    width: fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  fieldset input,
  fieldset button {
    margin: 10px 0;
  }
  
  fieldset input {
    font-family: inherit;
    font-size: inherit;
  }
  
  fieldset button {
    font-family: inherit;
    font-size: .8em;
  }
  
  ol a {
    color: inherit;
    text-decoration: none;
    margin-right: 10px;
  }
  
  ol a:hover {
    text-decoration: underline;
  }
  
  ol button {
    background-color: rgb(192, 51, 51);
    color: white;
    border: 0;
    border-radius: 4px;
  }