.flex {
  display: flex;
}
.pics {
  /* display: flex; */
  width: 100%;
}
img {
  width: 400px;
  margin-left: 5px;
}
.name {
  margin: 5% 5% 5% 15%;
  font-weight: bold;
}
.description {
  margin: 5% 5% 5% 15%;
}
.rating {
  margin: 5% 5% 5% 15%;
}
.pics .prev{
  position: absolute;
  margin-top: 150px;
  margin-left: -45px;
}
.pics .next{
  position: absolute;
  margin-top: 150px;
}