<h2>Products</h2>

<div class="flex-container">
    <div *ngFor="let product of products" class="prod" [id]="product.id">
        <div>
            <a role="button" style="margin: 1%;" target="blank" href="https://www.amazon.com/">{{ product.name }}</a>
        </div>

        <img [id]="product.id" [src]="product.imgs[0]">

        <div>
            <a target="blank"class="button" href="https://telegram.me/share/url?url=https://www.amazon.com/&text={{product.name}}">Share</a>
        </div>
        <div>
            <button class="details-button" (click)="show(product.id)">Show details</button>
        </div>
        <div class="details" *ngIf="this.state.get(product.id)">
            <app-product-item [idd]="product.id">
            </app-product-item>
        </div>
    </div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->